[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/obsession"]
	path = bundle/obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/showmarks"]
	path = bundle/showmarks
	url = git://github.com/vimez/vim-showmarks.git
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = git://github.com/tommcdo/vim-exchange.git
[submodule "bundle/lion"]
	path = bundle/lion
	url = git://github.com/tommcdo/vim-lion.git
[submodule "bundle/blame"]
	path = bundle/blame
	url = git://github.com/tommcdo/vim-fugitive-blame-ext.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule "bundle/signify"]
	path = bundle/signify
	url = git://github.com/mhinz/vim-signify.git
